<template id="template-previewer">

  <section id="previewer" v-if="previews.length > 0">
    
    <div class="controls">
      
      <button class="button prev"
              :disabled="active === 0"
              @click="active--">
        Previous
      </button>
      
      <div class="ticker"><span>{{active + 1}}</span> <span>/</span> <span>{{count}}</span></div>

      <button class="button next"
              :disabled="active == count - 1"
              @click="active++">
        Next
      </button>
      
    </div>
    
    <div class="window">
  
      <preview v-for="(preview, index) in previews" 
               :preview="preview" 
               :active="index == active"
               :key="index"></preview>
      
    </div>
    
  </section>

</template>