<html>
<head>
  
  <title></title>
  
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/dependencies/codemirror.css">
  
</head>
<body>
  
  <main id="app">
    
    <h1>Batch Emailer</h1>
    
    <div id="inputs">
      
      <section id="template">
        
        <h3>Template</h3>
        
        <coder lang="html" bind="template"></coder>
        
      </section>
      
      <section id="data">
        
        <h3>Data</h3>
      
        <coder lang="json" bind="data"></coder>
        
      </section>
      
    </div>
    
    <div id="controls">
  
      <controller></controller>
      
    </div>
    
    <div id="outputs">
    
      <results></results>
      <previewer></previewer>
    
    </div>
    
  </main>
  
  <template id="template-controller">

    <section id="controller">
    
      <div class="select">
        <select v-model="action">
          <option v-for="action in actions" :value="action">
            {{action | titlecase}}
          </option>
        </select>
      </div>
      
      <button class="button" @click="process">Go</button>
      
    </section>

  </template>
  <template id="template-coder">
    
    <textarea></textarea>

  </template>
  <template id="template-previewer">

    <section id="previewer" v-if="previews.length > 0">
      
      <div class="controls">
        
        <button class="button prev"
                :disabled="active === 0"
                @click="active--">
          Previous
        </button>
        
        <div class="ticker"><span>{{active + 1}}</span> <span>/</span> <span>{{count}}</span></div>

        <button class="button next"
                :disabled="active == count - 1"
                @click="active++">
          Next
        </button>
        
      </div>
      
      <div class="window">
    
        <preview v-for="(preview, index) in previews" 
                 :preview="preview" 
                 :active="index == active"
                 :key="index"></preview>
        
      </div>
      
    </section>

  </template>
  <template id="template-preview">

    <iframe v-if="active" class="preview" :srcdoc="preview"></iframe>

  </template>
  <template id="template-results">

    <section id="results" v-if="results.length > 0">
    
      <div class="feedback sent">
        <strong class="title">Sent</strong>
        <span class="metric">{{sent}}</span>
      </div>
      
      <div class="feedback failed">
        <strong class="title">Failed</strong>
        <span class="metric">{{failed}}</span>
      </div>
      
      <div class="feedback total">
        <strong class="title">Total</strong>
        <span class="metric">{{sent + failed}}</span>
      </div>
      
      <div class="results">
        <ul v-if="sentTo" class="result sentto">
          <li v-for="sent in sentTo()">{{sent}}</li>
        </ul>
        <ul v-if="failedTo" class="result failedto">
          <li v-for="failed in failedTo()">{{failed}}</li>
        </ul>
      </div>
    
    </section>

  </template>
  
  <script src="js/dependencies/codemirror.js"></script>
<script src="js/dependencies/jquery.js"></script>
<script src="js/dependencies/vue.js"></script>
<script src="js/dependencies/codemirror/addon/overlay.js"></script>
  <script src="js/index.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
  
</body>
</html>